*.pyc
*__pycache__
*egg-info
trained_models

# PyPI
build/*
dist/*
.idea/

# Docs
.DS_Store
_site
.jekyll-cache
__pycache__
.vscode/
docs/_build/
docs/build/
_build/
/docs/environments/**/*.md
/docs/environments/**/*.html
!/docs/environments/**/index.md

# Virtual environments
.env
.venv
venv

# Customize
Minigrid/
FD/
model/
mazenamo_grid.npy
VAL/
pddlgym/pddl
nohup*
sas_plan
vis/
assets/
logs/
mazenamo_problems/
tmp_*_problem.pddl